@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ebebeb;
  --foreground-light: #282828;
  --background-dark: #282828;
  --foreground-dark: #ededed;
}

/* Dark Mode Variables */
[data-theme="dark"] {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

[data-theme="light"] {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans, sans-serif);
}

html,
body {
  transition: background-color 0.3s, color 0.3s;
}

.dark {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

.light {
  background-color: var(--background-light);
  color: var(--foreground-light);
}

.divider-line {
  width: 60%;
  border: none;
  height: 2px;
  background: linear-gradient(to right, #3b82f6, #14b8a6);
}
