@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebebeb; 
  --foreground: #282828; 
}

/* Dark Mode Variables */
[data-theme="dark"] {
  --background: #282828;
  --foreground: #ededed;  
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

